[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = untracked
[submodule "bundle/vim"]
	path = bundle/vim
	url = https://github.com/catppuccin/vim.git
[submodule "bundle/copilot.vim"]
	path = bundle/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "bundle/targets.vim"]
	path = bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
